<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.svg') }}">
  <title>Monopoly - Dashboard - Properties</title>
</head>
<body class="w-lvw h-lvh select-none">
    <div class="w-full h-full gap-y-5 flex flex-col justify-center items-center bg-monopoly-board bg-no-repeat bg-cover bg-center">
        <div class="bg-black/25 rounded-lg w-[250px] p-5 gap-y-4 flex flex-col">
            <div class="text-black text-center bg-monopoly-green rounded-lg p-1 px-2 flex justify-around">
                <p>{{username}}</p>
                <p>|</p>
                <p id="game_id" onclick="copyGameId()">{{game_id}}</p>
            </div>
            <div class="h-96 bg-monopoly-red rounded-lg p-2">
                <div class="max-h-full gap-2 grid grid-cols-2 overflow-auto scrollbar-none">
                    {% for property, owner, level in properties %}
                        <div class="bg-red-700 rounded-lg p-1 w-auto flex flex-col">
                            <img src="{{ url_for('static', filename='images/properties/' + property + '.svg') }}" alt="{{ property }}">
                            <p>{{owner}}</p>
                            {% if level == 0 %}
                                <p>houses and hotel : 0</p>
                            {% elif level == 1 %}
                                <p>houses and hotel : 1</p>
                            {% elif level == 2 %}
                                <p>houses and hotel : 2</p>
                            {% elif level == 3 %}
                                <p>houses and hotel : 3</p>
                            {% elif level == 4 %}
                                <p>houses and hotel : 4</p>
                            {% elif level == 5 %}
                                <p>houses and hotel : 5</p>
                            {% endif %}
                        </div>c
                    {% endfor %}
                </div>
            </div>
            <nav class="text-white text-center bg-black rounded-lg p-1 flex justify-around">
                <a href="./dashboard-wallet">Wallet</a>
                <p>|</p>
                <a href="./dashboard-properties">Properties</a>
                <p>|</p>
                <a href="./dashboard-account">Account</a>
            </nav>
        </div>
        {% include 'flash_messages.html' %}
        {% include 'io_messages.html' %}
    </div>
    <script src="../static/scripts/copyGameId.js" defer></script>
</body>
</html>