<style>
    #dynamicMessages li {
    list-style: none; /* Removes bullet points */
    }
</style>
<div id="dynamicMessages" class="container absolute top-2 flex flex-col items-center"></div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.0/socket.io.min.js"></script>
<script type="text/javascript">
    const socket = io();

    socket.on('connect', () => {
        console.log('Connected to the server');
    });
    
    // Listen for 'send_money_transaction' event (broadcast to all users)
    socket.on('send_money_transaction', function(data) {
        const message = `${data.sender} sent ${data.amount} $ to ${data.recipient}!`;
        displayDynamicMessage('info', message);
        setTimeout(() => {
            location.reload();
        }, "4500");
    });

    // Listen for 'ask_money_transaction' event (broadcast to all users)
    socket.on('ask_money_transaction', function(data) {
        const message = `${data.seeker} asked ${data.amount} $ to ${data.giver}!`;
        displayDynamicMessage('info', message);
    });

    // Listen for 'player_join_game' event (broadcast to all users)
    socket.on('player_join_game', function(data) {
        const message = `${data.player} joined the game!`;
        displayDynamicMessage('info', message);
        setTimeout(() => {
            location.reload();
        }, "4500");
    });

    // Function to display dynamic messages
    function displayDynamicMessage(category, message) {
        const messageContainer = document.getElementById('dynamicMessages');

        // Create a new message element
        const messageElement = document.createElement('li');
        messageElement.className = `
            ${category === 'success' ? 'bg-green-100 border border-green-400 text-green-700' : ''}
            ${category === 'error' ? 'bg-red-100 border border-red-400 text-red-700' : ''}
            ${category === 'warning' ? 'bg-yellow-100 border border-yellow-400 text-yellow-700' : ''}
            ${category === 'info' ? 'bg-blue-100 border border-blue-400 text-blue-700' : ''}
            flash-message text-center w-[250px] px-4 py-3 rounded
        `;
        messageElement.innerText = message;

        // Append to the container
        messageContainer.appendChild(messageElement);

        // Fade out effect after a delay
        setTimeout(() => {
            messageElement.classList.add('flash-hidden');
            setTimeout(() => {
                messageContainer.removeChild(messageElement);
            }, 500); // Match the duration with the CSS transition time
        }, 4000); // Adjust the duration before fading out
    }

    document.getElementById('joinGameForm').addEventListener('submit', function(event) {       
        // Prepare data to send
        const data = {player: '{{ username }}'};
        
        // Emit the data through Socket.IO
        if (data.player) {
            socket.emit('player_join_game', data);
        }
    });
</script>