<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.svg') }}">
  <title>Monopoly - Sign Up</title>
</head>
<body class="w-lvw h-lvh select-none">
  <div class="w-full h-full gap-y-4 flex flex-col justify-center items-center bg-monopoly-board bg-no-repeat bg-cover bg-center">
    <div class="bg-black/25 rounded-lg w-[250px] p-5 gap-y-4 flex flex-col">
      <img src="{{ url_for('static', filename='images/logo-monopoly.svg') }}" alt="Logo">
      <p class="text-black text-center bg-monopoly-green rounded-lg p-1">Sign up</p>
      
      <form action="{{ url_for('sign_up') }}" method="post" class="flex flex-col gap-2">
        <div class="bg-monopoly-red rounded-lg p-1">
          <label class="block text-white pb-1 text-center">Username</label>
          <input type="text" name="username" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline focus:placeholder-transparent" placeholder="Enter your username">
        </div>      
        
        <div class="bg-monopoly-red rounded-lg p-1">
          <label class="block text-white pb-1 text-center">Password</label>
          <input type="password" name="passwd1" class="mb-1 shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline focus:placeholder-transparent" placeholder="Enter your password">
          <input type="password" name="passwd2" class="mt-1 shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline focus:placeholder-transparent" placeholder="Re-enter your password">
        </div>
        
        <button type="submit" class="text-white text-center bg-monopoly-red rounded-lg p-1 hover:scale-110">Submit</button>
      </form>
      
      <p class="text-center text-white">or</p>
      <a href="./log-in" class="text-white text-center bg-monopoly-red rounded-lg p-1 hover:scale-110">Log in</a>
    </div>

    {% include 'flash_messages.html' %}
    <script src="{{ url_for('static', filename='scripts/messages-flash.js') }}"></script>  </div>
</body>
</html>